/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	
/*header start*/
.c_dd_menu[data-bs-popper] {
    top: 50px;
    left: -10px;
}
.c_dd_menu {
    min-width: 280px;
}
.logo {
    font-size: 22px;
}
/*header end*/ 
/*slider start*/
.c_content {
        margin-top: 50px;
        margin-bottom: 60px;
        text-align: center;
    }
.c_content h1 {
        font-family: 'lato-bold';
        color: #ffff;
        
        margin-bottom: 20px;
    }

  
.c_content .btn-slide {
        width: 130px;
        height: 40px;

    }
/*slider end*/
/*service start*/ 
.c_title {
    margin-top: 15px;
}
.c_h1 {
    font-size: 22px;
}
.t_arrow {
    margin-bottom: 10px;
    height: 35px;

}
.s_paragraph {
    margin: 10px 0 0px;
}
/*service end*/ 

/*extra-small about us start*/
.about_us{
    padding-top: 50px;
    padding-bottom: 70px;
}
.a_text_wrapper{
    text-align: center;
}
.a_text_wrapper h1{
    margin-top: 30px;
    font-size: 22px;
}
.a_text_wrapper p{
    margin-top: 15px;
    margin-bottom: 0;
}
.common_btn{
    margin-top: 30px;
}
/*extra-small about us end*/  
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*slider start*/
.c_content {
        margin-top: 50px;
        margin-bottom: 60px;
    }
.c_content h1{
        margin-bottom: 30px;
    }
/*slider end*/ 
/*service start*/ 
.c_title {
    margin-top: 10px;
}
.t_arrow {
    margin-bottom: 10px;
}
.s_paragraph {
    margin: 15px 0 15px;
}
/*service end*/

/*small about us start*/
.about_us{
    padding-top: 50px;
    padding-bottom: 70px;
}
.a_text_wrapper{
    text-align: center;
}
.a_text_wrapper h1{
    margin-top: 30px;
}
.a_text_wrapper p{
    margin-top: 20px;
}
.common_btn{
    margin-top: 20px;
}
/*small about us end*/  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.c_dd_menu[data-bs-popper] {
    top: 50px;
    left: 0;
}
/*header end*/
/*slider start*/
.c_content {
        margin-top: 120px;
        margin-bottom: 100px;
    }
.c_content h1{
        margin-bottom: 30px;
    }
/*slider end*/ 
/*service start*/ 
.c_title {
    margin-top: 15px;
}
.t_arrow {
    margin-bottom: 15px;
}
.s_paragraph {
    margin: 20px 0 50px;
}
.s_paragraph {
    margin: 20px 0 20px;
}
/*service end*/

/*medium about us start*/
.about_us{
    padding-top: 70px;
    padding-bottom: 90px;
}
.a_text_wrapper{
    text-align: center;
}
.a_text_wrapper h1{
    margin-top: 30px;
}
.a_text_wrapper p{
    margin-top: 20px;
}
.common_btn{
    margin-top: 20px;
}
/*medium about us end*/ 	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*X-Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/*XX-Large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}