@font-face{
	font-family: Lato-Bold;
	src: url(../fonts/Lato-Bold.ttf);
}
@font-face{
	font-family: Lato-Regular;
	src: url(../fonts/Lato-Regular.ttf);
}
@font-face{
	font-family: Roboto-Medium;
	src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

/*common start*/
body{
	font-family: Lato-Regular;
	font-size: 16px;
}
/*common end*/ 
/*header start*/
header{
	margin: 15px 0;
}
.logo{
	font-family: Lato-Regular;
	font-size: 30px;
	color: #333333;
	text-transform: uppercase;
}
.menu ul li a{
	margin: 0 15px;
	color: #8e8e8e !important;
}
.menu ul li a:hover{
	font-family: Lato-Bold;
	color: #333333 !important;
}
.nav_custom_icon{
	margin: 5px 0;
	width: 30px;
	height: 3px;
	background-color: #333333;
	border-radius: 3px;
	display: block;
}
.nav_search{}
.btn_search{
	color: #8e8e8e;
}
.btn_search:hover{
	color: #333333;
}

.btn_search i{

}
.c_dd_menu[data-bs-popper] {
    top: 60px;
    left: -350px;
}
.c_dd_menu {
    min-width: 400px;
    padding: 5px 5px;
}
/*header end*/ 

/*slider start*/
section.slider{
    background-image: url(../images/hero_background.jpg);
    background-repeat: no-repeat;
    background-position:  center;
}


.c_content{
    margin-top: 200px;
    margin-bottom: 200px;
}
.c_content h1{
    font-family: 'lato-bold';
    color: #ffff;
    margin-top: 50px;
    margin-bottom: 40px;
}
.c_content p{
    color: #ffff;
    margin-bottom: 40px;
    font-size: 16px;
    word-spacing: 2px;
}
.c_content .btn-slide{
    width: 200px;
    height: 50px;
    font-family: Roboto-Medium;
    background-color: #ffff;
    border: none;
    box-shadow: none !important;
    border: 1px solid #ffff;
    border-radius: 2px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
   

}
.c_content .btn-slide:hover{
    color: #ffff;
    background-color: transparent;
}




.ccn, .ccp{
    align-items: flex-end !important;
    color:#8e8e8e;
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    text-transform: uppercase;

    
}

.ccn span, .ccp span{
    background-image: none !important;
}


.ccn{
    /* margin-top:  auto !important;  */
    margin-right: 10px;
}

.ccn:hover{
    color: #333333;
}

.ccp{
    left: 70px;
   
    /* margin-top:  auto !important; */
}
.ccp:hover{
    color: #333333;  
}
/*slider end */

/*service start*/
.service{}
.c_title{}
.t_arrow{
    margin-bottom: 20px;
    width: 2px;
    height: 50px;
    background-color: #333333;
    display: inline-block;
}
.c_h1{
    text-transform: uppercase;
    font-size: 30px;
}
.s_paragraph{
    margin: 30px 0 70px;
    font-family: Roboto-Regular;
    color: #8e8e8e;
}
.s_service{
    margin-top: 60px;
    text-align: center;
    padding: 70px 25px 30px;
    border: 1px solid #8e8e8e;
}
.s_icon{
    margin: 0 auto;
    margin-top: -92px;
    background-color: white;
    width: 70px;
}
.s_icon i{
    font-size: 60px;
    color: #8e8e8e;
}
.s_service h2{
    margin-top: 30px;
    text-transform: uppercase;
    font-family: Lato-Bold;
    font-size: 18px;
}
.s_dash{
    width: 50px;
    height: 1px;
    background-color: #8e8e8e;
    display: inline-block;
}
.s_service p{
    margin-top: 15px;
    margin-bottom: 30px;
    color: #8e8e8e;
}
.s_service a{
    text-decoration: none;
    font-family: Lato-Bold;
    color: #8e8e8e;
}
.s_service a span{
    color: #8e8e8e;
}

.s_service:hover{
    border: 1px solid #333333;
}
.s_service:hover .s_icon i{
    color: #333333;
}
.s_service:hover a{
    color: #333333;
}
.s_service:hover a span{
    color: #333333;
}
/*service end*/ 

/*about us start*/
.about_us{
    padding-top: 100px;
    padding-bottom: 120px;
}
.a_img_wrapper{
    /*border: 1px solid;*/
}
.a_img_wrapper img{
    /*border: 1px solid red;*/
}
.a_text_wrapper{}
.a_text_wrapper h1{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 30px;
}
.a_text_wrapper p{
    margin-top: 30px;
    color: #8e8e8e;
}
.a_para1{}
.a_para2{}
.common_btn{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-family: Roboto-Medium;
    background-color: #ffff;
    box-shadow: none !important;
    border: 1px solid #333333;
    border-radius: 2px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}

.common_btn:hover{
    color: white;
    background-color: #333333;
}
/*about us end*/ 

/*recent work start*/
.rw_nav_wrapper{
    margin-top: 30px;
    margin-bottom: 100px;
}
.nav_custom{
    width: 569px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #8e8e8e;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-tabs {
    border-bottom: 1px solid white;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1.5px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-link:hover, .nav-link:focus {
    color: #333333;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #333333;
    background-color: #fff;
    border: 1.5px solid #333333;
}

.rw_single{
    margin-top: 10px;
}
.rw_single img{
}

/*---recent work overlay hover*/
.rw_img{
    position: relative;
    margin-top: 30px;
    transition: .3s;
}
.rw_img img{
    width: 100%;
}
.rw_overlay{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .3s;
}
.rw_overlay_icon{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
}
.rw_overlay_icon i{
    font-size: 60px;
    color: #fff
}
.rw_overlay_text{
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    padding: 17px 30px;
    background-color: #fff;
    transition: .3s;
}
.rw_overlay_text h4{
    font-size: 18px;
    text-transform: uppercase;
}
.rw_overlay_text p{
    color: #8e8e8e;
}

.rw_img:hover .rw_overlay{
    opacity: 1;
    bottom: 0;
}
.rw_img:hover .rw_overlay_text{
    opacity: 1;
    bottom: 0;
}
/*---recent work overlay hover*/

/*recent work end*/ 
